<?xml version="1.0" encoding="windows-1252"?>
<XMI xmi.version="1.1" xmlns:UML="omg.org/UML1.3">
	<XMI.header>
		<XMI.documentation>
			<XMI.exporter>Enterprise Architect</XMI.exporter>
			<XMI.exporterVersion>2.5</XMI.exporterVersion>
		</XMI.documentation>
	</XMI.header>
	<XMI.content>
		<UML:Model name="EA Model" xmi.id="MX_EAID_84D59128_7A8C_45a5_8765_5969B57D047F">
			<UML:Namespace.ownedElement>
				<UML:Class name="EARootClass" xmi.id="EAID_11111111_5487_4080_A7F4_41526CB0AA00" isRoot="true" isLeaf="false" isAbstract="false"/>
				<UML:Package name="Server" xmi.id="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
					<UML:ModelElement.taggedValue>
						<UML:TaggedValue tag="parent" value="EAPK_4DFBE08F_B6F1_467e_969F_92357128FB33"/>
						<UML:TaggedValue tag="created" value="2010-09-06 11:21:25"/>
						<UML:TaggedValue tag="modified" value="2010-09-06 11:21:25"/>
						<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
						<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\Server.xml"/>
						<UML:TaggedValue tag="version" value="1.0"/>
						<UML:TaggedValue tag="isprotected" value="FALSE"/>
						<UML:TaggedValue tag="usedtd" value="FALSE"/>
						<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
						<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
						<UML:TaggedValue tag="logxml" value="FALSE"/>
						<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;CRC=0;"/>
						<UML:TaggedValue tag="batchsave" value="0"/>
						<UML:TaggedValue tag="batchload" value="0"/>
						<UML:TaggedValue tag="phase" value="1.0"/>
						<UML:TaggedValue tag="status" value="Proposed"/>
						<UML:TaggedValue tag="author" value="kismet"/>
						<UML:TaggedValue tag="complexity" value="1"/>
						<UML:TaggedValue tag="ea_stype" value="Public"/>
						<UML:TaggedValue tag="tpos" value="0"/>
						<UML:TaggedValue tag="gentype" value="Java"/>
					</UML:ModelElement.taggedValue>
					<UML:Namespace.ownedElement>
						<UML:Collaboration xmi.id="EAID_84D59128_7A8C_45a5_8765_5969B57D047F_Collaboration" name="Collaborations">
							<UML:Namespace.ownedElement>
								<UML:ClassifierRole name="99 - Other" xmi.id="EAID_2D57DE3E_E335_4438_ABA7_9C74112D26B2" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:48:30"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:13"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_2D57DE3E_E335_4438_ABA7_9C74112D26B2"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="10"/>
										<UML:TaggedValue tag="ea_localid" value="1230"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="90 - Licensing" xmi.id="EAID_2F913D00_6021_4b2e_A6F3_30F8732983C3" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:42:59"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:50:08"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_2F913D00_6021_4b2e_A6F3_30F8732983C3"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="9"/>
										<UML:TaggedValue tag="ea_localid" value="1222"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="40 - Security" xmi.id="EAID_37D2EA8B_8570_4b3a_A4C4_70F6D2179953" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:45:01"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:54"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_37D2EA8B_8570_4b3a_A4C4_70F6D2179953"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="6"/>
										<UML:TaggedValue tag="ea_localid" value="1227"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="05 - Artifact Metadata" xmi.id="EAID_560B9689_0C5C_469f_A0C9_3322D611F0A4" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:44:13"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:42"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_560B9689_0C5C_469f_A0C9_3322D611F0A4"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="2"/>
										<UML:TaggedValue tag="ea_localid" value="1225"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="00 - Interaction" xmi.id="EAID_7B7B508D_DEF1_46b9_B910_389E18D344E2" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:46:54"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:37"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_7B7B508D_DEF1_46b9_B910_389E18D344E2"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="1"/>
										<UML:TaggedValue tag="ea_localid" value="1229"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="60 - Administration" xmi.id="EAID_7F1EED49_9856_40a7_B2A9_50B4BE9931EE" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 18:50:02"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 18:50:02"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_7F1EED49_9856_40a7_B2A9_50B4BE9931EE"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="7"/>
										<UML:TaggedValue tag="ea_localid" value="1233"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="10 - Artifact Support" xmi.id="EAID_B08CDCB2_B4EA_48ed_B6A1_D003814C0DF4" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:43:57"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:00"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_B08CDCB2_B4EA_48ed_B6A1_D003814C0DF4"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="3"/>
										<UML:TaggedValue tag="ea_localid" value="1224"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="20 - Dependency" xmi.id="EAID_BD01CA39_D28C_439c_BC3B_8C991F0BBF2E" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 11:44:29"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 11:49:03"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_BD01CA39_D28C_439c_BC3B_8C991F0BBF2E"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="4"/>
										<UML:TaggedValue tag="ea_localid" value="1226"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="30 - Integration" xmi.id="EAID_BEA3E27B_B35A_4c59_AD97_929737225E1B" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 18:47:50"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 18:47:50"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_BEA3E27B_B35A_4c59_AD97_929737225E1B"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="5"/>
										<UML:TaggedValue tag="ea_localid" value="1232"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
								<UML:ClassifierRole name="70 - Plugins" xmi.id="EAID_BF840C02_FA96_4b6c_94B6_40221B27E51B" visibility="public" base="EAID_11111111_5487_4080_A7F4_41526CB0AA00">
									<UML:ModelElement.taggedValue>
										<UML:TaggedValue tag="isAbstract" value="false"/>
										<UML:TaggedValue tag="isSpecification" value="false"/>
										<UML:TaggedValue tag="ea_stype" value="Package"/>
										<UML:TaggedValue tag="ea_ntype" value="0"/>
										<UML:TaggedValue tag="version" value="1.0"/>
										<UML:TaggedValue tag="package" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
										<UML:TaggedValue tag="date_created" value="2010-09-06 18:18:42"/>
										<UML:TaggedValue tag="date_modified" value="2010-09-06 18:18:42"/>
										<UML:TaggedValue tag="gentype" value="Java"/>
										<UML:TaggedValue tag="tagged" value="0"/>
										<UML:TaggedValue tag="package2" value="EAID_BF840C02_FA96_4b6c_94B6_40221B27E51B"/>
										<UML:TaggedValue tag="package_name" value="Server"/>
										<UML:TaggedValue tag="phase" value="1.0"/>
										<UML:TaggedValue tag="author" value="kismet"/>
										<UML:TaggedValue tag="complexity" value="1"/>
										<UML:TaggedValue tag="status" value="Proposed"/>
										<UML:TaggedValue tag="tpos" value="8"/>
										<UML:TaggedValue tag="ea_localid" value="1231"/>
										<UML:TaggedValue tag="ea_eleType" value="package"/>
										<UML:TaggedValue tag="style" value="BackColor=-1;BorderColor=-1;BorderWidth=-1;FontColor=-1;VSwimLanes=1;HSwimLanes=1;BorderStyle=0;"/>
									</UML:ModelElement.taggedValue>
								</UML:ClassifierRole>
							</UML:Namespace.ownedElement>
							<UML:Collaboration.interaction/>
						</UML:Collaboration>
						<UML:Package name="00 - Interaction" xmi.id="EAPK_7B7B508D_DEF1_46b9_B910_389E18D344E2" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:46:54"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:37"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\00 - Interaction.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="1"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="05 - Artifact Metadata" xmi.id="EAPK_560B9689_0C5C_469f_A0C9_3322D611F0A4" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:44:13"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:42"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\05 - Artifact Metadata.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="2"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="10 - Artifact Support" xmi.id="EAPK_B08CDCB2_B4EA_48ed_B6A1_D003814C0DF4" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:43:57"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:00"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\10 - Artifact Support.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="3"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="20 - Dependency" xmi.id="EAPK_BD01CA39_D28C_439c_BC3B_8C991F0BBF2E" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:44:29"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:03"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\20 - Dependency.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="4"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="30 - Integration" xmi.id="EAPK_BEA3E27B_B35A_4c59_AD97_929737225E1B" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:43:12"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:08"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\30 - Integration.xml"/>
								<UML:TaggedValue tag="lastloaddate" value="2010-09-06 18:47:51"/>
								<UML:TaggedValue tag="lastsavedate" value="2010-09-06 18:47:50"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="5"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="40 - Security" xmi.id="EAPK_37D2EA8B_8570_4b3a_A4C4_70F6D2179953" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:45:01"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:54"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\40 - Security.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="6"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="60 - Administration" xmi.id="EAPK_7F1EED49_9856_40a7_B2A9_50B4BE9931EE" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 18:50:02"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 18:50:02"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\60 - Administration.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="7"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="70 - Plugins" xmi.id="EAPK_BF840C02_FA96_4b6c_94B6_40221B27E51B" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:45:14"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:50:02"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\70 - Plugins.xml"/>
								<UML:TaggedValue tag="lastloaddate" value="2010-09-06 18:18:43"/>
								<UML:TaggedValue tag="lastsavedate" value="2010-09-06 18:18:42"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="8"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="90 - Licensing" xmi.id="EAPK_2F913D00_6021_4b2e_A6F3_30F8732983C3" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:42:59"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:50:08"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\90 - Licensing.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="9"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
						<UML:Package name="99 - Other" xmi.id="EAPK_2D57DE3E_E335_4438_ABA7_9C74112D26B2" isRoot="false" isLeaf="false" isAbstract="false" visibility="public">
							<UML:ModelElement.taggedValue>
								<UML:TaggedValue tag="parent" value="EAPK_84D59128_7A8C_45a5_8765_5969B57D047F"/>
								<UML:TaggedValue tag="created" value="2010-09-06 11:48:30"/>
								<UML:TaggedValue tag="modified" value="2010-09-06 11:49:13"/>
								<UML:TaggedValue tag="iscontrolled" value="TRUE"/>
								<UML:TaggedValue tag="xmlpath" value="Requirements View\Depot\99 - Other.xml"/>
								<UML:TaggedValue tag="version" value="1.0"/>
								<UML:TaggedValue tag="isprotected" value="FALSE"/>
								<UML:TaggedValue tag="usedtd" value="FALSE"/>
								<UML:TaggedValue tag="owner" value="Stefano Lenzi"/>
								<UML:TaggedValue tag="xmiver" value="Enterprise Architect XMI/UML 1.3"/>
								<UML:TaggedValue tag="logxml" value="FALSE"/>
								<UML:TaggedValue tag="tpos" value="10"/>
								<UML:TaggedValue tag="batchsave" value="0"/>
								<UML:TaggedValue tag="batchload" value="0"/>
								<UML:TaggedValue tag="packageFlags" value="Recurse=0;VCCFG=uAAL;"/>
								<UML:TaggedValue tag="savedasstub" value="true"/>
								<UML:TaggedValue tag="phase" value="1.0"/>
								<UML:TaggedValue tag="status" value="Proposed"/>
								<UML:TaggedValue tag="author" value="kismet"/>
								<UML:TaggedValue tag="complexity" value="1"/>
								<UML:TaggedValue tag="ea_stype" value="Public"/>
							</UML:ModelElement.taggedValue>
						</UML:Package>
					</UML:Namespace.ownedElement>
				</UML:Package>
			</UML:Namespace.ownedElement>
		</UML:Model>
	</XMI.content>
	<XMI.difference/>
	<XMI.extensions xmi.extender="Enterprise Architect 2.5"/>
</XMI>
